
@()

@tags = {
	<meta name="keywords" content=""/>
    <meta name="description" content="Vasco Mouta - alianca">
}

@main("Vasco Mouta", "portfolio")(tags)() {

	<!--================= Header + Scroll navigation ================-->
	@navigation_header(true)()
	<!-- Header end -->
    <!--================= Section page title ================-->
	<section class="page-title-bg">
	    <div class="bg bg-parallax run-par" style="background-image: url(@routes.Assets.at("images/bg/product.jpg")) "></div>
	    <div class="overlay over-op6"></div>
	    <div class="container">
	        <div class="content">
	            <div class="page-title-bg-holder hero-wrapper">
	                <h2>"Alianca florestal, Controle de Obras"</h2>
	                <div class="clearfix"></div>
	                <div class="separator color-separator"></div>
	                <h4><a target="_blank" class="  transition" href="//www.criticalsoftware.com">Critical Software, Portugal</a></h4>
	            </div>
	        </div>
	    </div>
	</section>
    <!-- section end -->
    
    <!--================= Section portfolio single 3  ================-->
    <section>
        <div class="content">
            <div class="container">
                <div class="row align-text">
                    <div class="col-lg-8">
                        <h3>@Messages("portfolio.images")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <div class="row ">
                            <div class="col-lg-12">
                                <!-- slider -->
                                <div class="custom-slider-holder">
                                    
                                    <div  class="custom-slider owl-carousel">
                                        <div class="item">
                                            <img src="/images/folio/alianca.jpg" alt="" class="respimg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
						<!-- more photos-->
			            <div class="row no-align border-row">
			                <div class="col-lg-4">
			                    <a href="/images/folio/alianca/alianca.png" class="image-popup"><img src="/images/folio/alianca/alianca.png" alt="" class="respimg"></a>
			                </div>
			                <div class="col-lg-4">
			                    <a href="/images/folio/alianca/alianca2.png" class="image-popup "><img src="/images/folio/alianca/alianca2.png" alt="" class="respimg"></a>
			                </div>
			                <div class="col-lg-4">
			                    <a href="/images/folio/alianca/alianca3.png" class="image-popup "><img src="/images/folio/alianca/alianca3.png" alt="" class="respimg"></a>
			                </div>
			            </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.details")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <ul class="detailst-list">
                            <li>
                                <i class="fa fa-child"></i>
                                <a class="  transition" href="//www.criticalsoftware.com" target="_blank">@Messages("portfolio.company"): <strong>Critical Software</strong></a>
                            </li>
                            <li>
                                <i class="fa fa-calendar-o"></i>
                                <span>@Messages("portfolio.date"): <strong>10 February 2005</strong></span>
                            </li>
                            <li>
                                <i class="fa fa-motorcycle"></i>
                                <a href="#" target="_blank">@Messages("portfolio.category"): <strong>Web Application</strong></a>
                            </li>
                        </ul>
                        <p>A solução e designada como sistema para controlo de qualidade de obras. O sistema permitir aos colaboradores da Aliança Florestal efectuar a avaliação dos serviços prestados pelos seus fornecedores, e de acordo com os indicadores definidos pelo departamento de qualidade. Sobre os dados resultantes das avaliações deve ser possível gerar relatórios que classifiquem os fornecedores quanto ao seu desempenho.</p>
                        <div class="clearfix"></div>
                        <div class="custom-skillbar-holder">
                            <div class="skillbar-box animaper">
                                <!-- skill 1-->
                                <div class="custom-skillbar-title"><span>Java</span></div>
                                <div class="skill-bar-percent">78%</div>
                                <div class="skillbar-bg" data-percent="78%">
                                    <div class="custom-skillbar"></div>
                                </div>
                                <!-- skill 2-->
                                <div class="custom-skillbar-title"><span>Xsl with structs</span></div>
                                <div class="skill-bar-percent">62%</div>
                                <div class="skillbar-bg" data-percent="62%">
                                    <div class="custom-skillbar"></div>
                                </div>
                                <!-- skill 3-->
                                <div class="custom-skillbar-title"><span>Css</span></div>
                                <div class="skill-bar-percent">49%</div>
                                <div class="skillbar-bg" data-percent="49%">
                                    <div class="custom-skillbar"></div>
                                </div>
                                <!-- skill 2-->
                                <div class="custom-skillbar-title"><span>JBoss</span></div>
                                <div class="skill-bar-percent">40%</div>
                                <div class="skillbar-bg" data-percent="40%">
                                    <div class="custom-skillbar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-text">
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.history")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <p>The "works quality control system" to Alianca Florestal was my first solo Project, even have been involved in R&D solo and company products before, a company certified according to CMMI-DEV Maturity Level 5, ISO 9001:2008 TickIT, AS 9100, NATO AQAP and NP 4457:2007 can be intimidating. There for I was very glad for is success.</p>
                    </div>
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.result")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <p>A tarefa de avaliação de fornecedores é suportada por uma sistema informático que lhe permite a extracção de informação sobre a prestação dos vários fornecedores nas diferentes actividades, e nas várias obras que decorrem ao longo do ano.A selecção de fornecedores para novas obras é feita mediante a pontuação que os fornecedores têm em obras já realizadas. Assim, a aplicação de controlo de qualidade de obras suporta os seguintes processos:<br/>-Avaliação de fornecedores por obra;<br/>-Obtenção de informação sobre a classificação dos fornecedores.</p>
                    </div>
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.experience")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <p>A special thanks to <a href="https://www.linkedin.com/profile/view?id=3844550" target="_blank" class="transition">Monica Sobreiro</a> for the trust.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->				
	<!--================= Section portfolio navigation  ================-->
    <section class="color-bg">
        <div class="content">
            <div class="container">
                <div class="project-pagination">
                    <ul>
                        <li>
                            <a class="ajax left-nav" href="/@{lang().code()}/portfolio/surfkitchen.html">
                                <i class="fa fa-angle-left"></i>
                                <div class="tooltip">
                                    <img src="/images/folio/surfkitchen.jpg" class="respimg" alt="" title="">
                                    <h5>surfkitchen</h5>
                                </div>
                            </a>
                        </li>
                        <li><a href="/@{lang().code()}/portfolio.html" class="ajax"><i class="fa fa-indent"></i></a></li>
                        <li>
                            <a class="ajax right-nav" href="/@{lang().code()}/portfolio/premfire.html">
                                <i class="fa fa-angle-right"></i>
                                <div class="tooltip">
                                    <img src="/images/folio/premfire.jpg" class="respimg" alt="" title="">
                                    <h5>Premfire</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
	<!--================= Section link  ================-->
	@hireme()
	<!-- section end -->
}