
@()

@tags = {
	<meta name="keywords" content="2D, beetagg, qrcode, datamatrix, barcode, EAN"/>
	<meta name="description" content="Vasco Mouta - beetagg">
}

@main("Vasco Mouta - Beetagg", "portfolio")(tags)() {

	<!--================= Header + Scroll navigation ================-->
	@navigation_header(true)()
	<!-- Header end -->
    <!--================= Section page title ================-->
	<section class="page-title-bg">
	    <div class="bg bg-parallax run-par" style="background-image: url(@routes.Assets.at("images/bg/product.jpg")) "></div>
	    <div class="overlay over-op6"></div>
	    <div class="container">
	        <div class="content">
	            <div class="page-title-bg-holder hero-wrapper">
	                <h2>"beetagg"</h2>
	                <div class="clearfix"></div>
	                <div class="separator color-separator"></div>
	                <a target="_blank" class="  transition" href="//www.connvision.com"><h4>connvision AG, Switzerland</h4></a>
	            </div>
	        </div>
	    </div>
	</section>
    <!-- section end -->
    <!--================= Section portfolio single 3  ================-->
    <section>
        <div class="content">
            <div class="container">
                <div class="row align-text">
                    <div class="col-lg-8">
                        <h3>@Messages("portfolio.images")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <div class="row ">
                            <div class="col-lg-12">
                                <!-- slider -->
                                <div class="custom-slider-holder">
                                    <div class="customNavigation">
                                        <a class="prev-slide transition"><i class="fa fa-chevron-left"></i></a>
                                        <a class="next-slide transition"><i class="fa fa-chevron-right"></i></a>
                                    </div>
                                    <div  class="custom-slider owl-carousel">
                                        <div class="item">
                                            <img src="/images/folio/beetagg.png" alt="" class="respimg">
                                        </div>
                                        <div class="item">
                                            <img src="/images/folio/beetagg/beetagg3.jpg" alt="" class="respimg">
                                        </div>
                                        <div class="item">
                                            <img src="/images/folio/beetagg/beetagg2.jpg" alt="" class="respimg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- more photos-->

                        <div class="row no-align border-row">
                            <div class="col-lg-4">
                                <a href="/images/folio/beetagg/beetagg.png" class="image-popup"><img src="/images/folio/beetagg/beetagg.png" alt="" class="respimg"></a>
                            </div>
                            <div class="col-lg-4">
                                <a href="/images/folio/beetagg/beetagg1.jpg" class="image-popup "><img src="/images/folio/beetagg/beetagg1.jpg" alt="" class="respimg"></a>
                            </div>
                            <div class="col-lg-4">
                                <a href="/images/folio/beetagg/beetagg4.jpg" class="image-popup "><img src="/images/folio/beetagg/beetagg4.jpg" alt="" class="respimg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.details")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <ul class="detailst-list">
                            <li>
                                <i class="fa fa-child"></i>
                                <a class="  transition" href="//www.connvision.com" target="_blank">@Messages("portfolio.company"): <strong>connvision AG</strong></a>
                            </li>
                            <li>
                                <i class="fa fa-calendar-o"></i>
                                <span>@Messages("portfolio.date"): <strong>1 February 2006</strong></span>
                            </li>
                            <li>
                                <i class="fa fa-motorcycle"></i>
                                <a href="#" target="_blank">@Messages("portfolio.category"): <strong>Information Technology</strong></a>
                            </li>
                        </ul>
                        <p>BeeTagg is unique in that it offers a complete set of products and services including Reader, Generator, API, Custom Development and more. Most advanced and supported reader with native implementations for the widest range of smart phones and feature phones including iPhone, Symbian Series 60, Microsoft Mobile 5,6&7, Java J2ME MIDP2, Palm, BREW 3.1.5, RIM BlackBerry and Android platforms. Custom mobile apps with scanning capabilities, create all different code formats and all content types.</p>
                        <div class="clearfix"></div>
                        <div class="custom-skillbar-holder">
                            <div class="skillbar-box animaper">
                                <!-- skill 1-->
                                <div class="custom-skillbar-title"><span>Objective C</span></div>
                                <div class="skill-bar-percent">95%</div>
                                <div class="skillbar-bg" data-percent="95%">
                                    <div class="custom-skillbar"></div>
                                </div>
                                <!-- skill 2-->
                                <div class="custom-skillbar-title"><span>Android</span></div>
                                <div class="skill-bar-percent">70%</div>
                                <div class="skillbar-bg" data-percent="70%">
                                    <div class="custom-skillbar"></div>
                                </div>
                                <!-- skill 3-->
                                <div class="custom-skillbar-title"><span>Symbian</span></div>
                                <div class="skill-bar-percent">95%</div>
                                <div class="skillbar-bg" data-percent="95%">
                                    <div class="custom-skillbar"></div>
                                </div>
                                <!-- skill 2-->
                                <div class="custom-skillbar-title"><span>Java, AnsiC libraries and tools</span></div>
                                <div class="skill-bar-percent">60%</div>
                                <div class="skillbar-bg" data-percent="60%">
                                    <div class="custom-skillbar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-text">
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.history")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <p>I join Beetagg project at is baby steps and walk it through maturity, on the way great ideas, people, fun and the best most elegant 2D system in the world.</p>
                    </div>
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.result")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <p>A great portable framework from code generation, to image detection, codes managmenet and much more in low level Java and C, with corresponding native mobile application.</p>
                    </div>
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.experience")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <p> A special focus in 2D barcode (QR-Code, Datamatrix, BeeTagg, EAN) realtime detection on mobile phones, as in creating solutions for iPhone, Android, Symbian, Palm, Brew, Blackberry. A Special thanks to <a href="http://www.linkedin.com/profile/view?id=442995" target="_blank" class="transition">Andres Meyer</a>.</p>
                    </div>
                </div>
                <div class="row align-text">
                    <div class="col-lg-12">
                        <a href="http://beetagg.com" target="_blank" class="btn clr-btn  transition">Live</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
	<!--================= Section portfolio navigation  ================-->
    <section class="color-bg">
        <div class="content">
            <div class="container">
                <div class="project-pagination">
                    <ul>
                        <li>
                            <a class="ajax left-nav" href="/@{lang().code()}/portfolio/localina.html">
                                <i class="fa fa-angle-left"></i>
                                <div class="tooltip">
                                    <img src="/images/folio/localina.png" class="respimg" alt="" title="">
                                    <h5>localina</h5>
                                </div>
                            </a>
                        </li>
                        <li><a href="/@{lang().code()}/portfolio.html" class="ajax"><i class="fa fa-indent"></i></a></li>
                        <li>
                            <a class="ajax right-nav" href="/@{lang().code()}/portfolio/kilimosalama.html">
                                <i class="fa fa-angle-right"></i>
                                <div class="tooltip">
                                    <img src="/images/folio/kilimosalama.jpg" class="respimg" alt="" title="">
                                    <h5>Kilimosalama</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
	<!--================= Section link  ================-->
	@hireme()
	<!-- section end -->
}