
@()

@tags = {
	<meta name="keywords" content=""/>
    <meta name="description" content="Vasco Mouta - Irma Device">
}

@main("Vasco Mouta", "portfolio")(tags)() {

	<!--================= Header + Scroll navigation ================-->
	@navigation_header(true)()
	<!-- Header end -->
    <!--================= Section page title ================-->
	<section class="page-title-bg">
	    <div class="bg bg-parallax run-par" style="background-image: url(@routes.Assets.at("images/bg/product.jpg")) "></div>
	    <div class="overlay over-op6"></div>
	    <div class="container">
	        <div class="content">
	            <div class="page-title-bg-holder hero-wrapper">
	                <h2>"Irma Device"</h2>
	                <div class="clearfix"></div>
	                <div class="separator color-separator"></div>
	                <h4><a target="_blank" class="  transition" href="//www.linkedin.com/company/flander-oy">Flander Oy, Finland</a></h4>
	            </div>
	        </div>
	    </div>
	</section>
    <!-- section end -->
    <!--================= Section portfolio single 3  ================-->
    <section>
        <div class="content">
            <div class="container">
                <div class="row align-text">
                    <div class="col-lg-8">
                        <h3>@Messages("portfolio.images")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <div class="row ">
                            <div class="col-lg-12">
                                <!-- slider -->
                                <div class="custom-slider-holder">
                                    <div  class="custom-slider owl-carousel">
                                        <div class="item">
                                            <img src="/images/folio/irma.jpg" alt="" class="respimg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- more photos-->

                        <div class="row no-align border-row">
                            <div class="col-lg-4">
                                <a href="/images/folio/irma/irma2.jpg" class="image-popup"><img src="/images/folio/irma/irma2.jpg" alt="" class="respimg"></a>
                            </div>
                            <div class="col-lg-4">
                                <a href="/images/folio/irma/irma1.jpg" class="image-popup "><img src="/images/folio/irma/irma1.jpg" alt="" class="respimg"></a>
                            </div>
                            <div class="col-lg-4">
                                <a href="/images/folio/irma/irma3.jpg" class="image-popup "><img src="/images/folio/irma/irma3.jpg" alt="" class="respimg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.details")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <ul class="detailst-list">
                            <li>
                                <i class="fa fa-child"></i>
                                <a class="  transition" href="//www.linkedin.com/company/flander-oy" target="_blank">@Messages("portfolio.company"): <strong>Flander Oy</strong></a>
                            </li>
                            <li>
                                <i class="fa fa-calendar-o"></i>
                                <span>@Messages("portfolio.date"): <strong>1 August 2004</strong></span>
                            </li>
                            <li>
                                <i class="fa fa-motorcycle"></i>
                                <a href="#" target="_blank">@Messages("portfolio.category"): <strong>Branding</strong></a>
                            </li>
                        </ul>
                        <p>Irma Bluetooth is an accessory that allows content from a mobile terminal to be presented on any data projector or display with a VGA input. The device allows, for example, PowerPoint presentations or digital photos to be shown without a computer. The presentations are transmitted to Irma Bluetooth with the Presentation Editor application that is a standard feature in all Nokia 9300 and 9500 Communicator, Nokia Series 60, Sony Ericsson P800 and Sony Ericsson P900 smart phones. Additionally, the device can be used with all Pocket PC and Palm devices that support the Bluetooth protocol.</p>
                        <div class="clearfix"></div>
                        <div class="custom-skillbar-holder">
                            <div class="skillbar-box animaper">
                                <!-- skill 1-->
                                <div class="custom-skillbar-title"><span>Symbian</span></div>
                                <div class="skill-bar-percent">78%</div>
                                <div class="skillbar-bg" data-percent="78%">
                                    <div class="custom-skillbar"></div>
                                </div>
                                <!-- skill 2-->
                                <div class="custom-skillbar-title"><span>C++</span></div>
                                <div class="skill-bar-percent">61%</div>
                                <div class="skillbar-bg" data-percent="61%">
                                    <div class="custom-skillbar"></div>
                                </div>
                                <!-- skill 3-->
                                <div class="custom-skillbar-title"><span>Bluetooth</span></div>
                                <div class="skill-bar-percent">75%</div>
                                <div class="skillbar-bg" data-percent="75%">
                                    <div class="custom-skillbar"></div>
                                </div>
                                <!-- skill 2-->
                                <div class="custom-skillbar-title"><span>MVC</span></div>
                                <div class="skill-bar-percent">64%</div>
                                <div class="skillbar-bg" data-percent="64%">
                                    <div class="custom-skillbar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-text">
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.history")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <p>I join Flander experient mobile team to improve company solution "Irma" as result of the merge with Oy Net Zeerio Solutions Ab however the winter in Finland is not so apiling for me and decide to look for other challenges</p>
                    </div>
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.result")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <p>.</p>
                    </div>
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.experience")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <p>Toggether with the experience of being part from a merging, I developt my know-how on development for embedded devices as some of most used software design pattern like MVC.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->				
	<!--================= Section portfolio navigation  ================-->
    <section class="color-bg">
        <div class="content">
            <div class="container">
                <div class="project-pagination">
                    <ul>
                        <li>
                            <a class="ajax left-nav" href="/@{lang().code()}/portfolio/premfire.html">
                                <i class="fa fa-angle-left"></i>
                                <div class="tooltip">
                                    <img src="/images/folio/premfire.jpg" class="respimg" alt="" title="">
                                    <h5>Premfire</h5>
                                </div>
                            </a>
                        </li>
                        <li><a href="/@{lang().code()}/portfolio.html" class="ajax"><i class="fa fa-indent"></i></a></li>
                        <li>
                            <a class="ajax right-nav" href="/@{lang().code()}/portfolio/zeerio.html">
                                <i class="fa fa-angle-right"></i>
                                <div class="tooltip">
                                    <img src="/images/folio/zeerio.jpg" class="respimg" alt="" title="">
                                    <h5>Oy Net Zeerio Solutions</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
	<!--================= Section link  ================-->
	@hireme()
	<!-- section end -->
}