
@()

@main("Vasco Mouta", "portfolio") {

	<!--================= Header + Scroll navigation ================-->
	@navigation_header(true)()
	<!-- Header end -->
    <!--================= Section page title ================-->
	<section class="page-title-bg">
	    <div class="bg bg-parallax run-par" style="background-image: url(@routes.Assets.at("images/bg/product.jpg")) "></div>
	    <div class="overlay over-op6"></div>
	    <div class="container">
	        <div class="content">
	            <div class="page-title-bg-holder hero-wrapper">
	                <h2>"Irma Device"</h2>
	                <div class="clearfix"></div>
	                <div class="separator color-separator"></div>
	                <h4>Flander Oy, Finland</h4>
	            </div>
	        </div>
	    </div>
	</section>
    <!-- section end -->
    
                    <!--================= Section portfolio single 3  ================-->
                    <section>
                        <div class="content">
                            <div class="container">
                                <div class="row align-text">
                                    <div class="col-lg-8">
                                        <h3>Project Images</h3>
                                        <div class="clearfix"></div>
                                        <div class="separator color-separator flt-l"></div>
                                        <div class="clearfix"></div>
                                        <div class="row ">
                                            <div class="col-lg-12">
                                                <!-- slider -->
                                                <div class="custom-slider-holder">
                                                    <div class="customNavigation">
                                                        <a class="prev-slide transition"><i class="fa fa-chevron-left"></i></a>
                                                        <a class="next-slide transition"><i class="fa fa-chevron-right"></i></a>
                                                    </div>
                                                    <div  class="custom-slider owl-carousel">
                                                        <div class="item">
                                                            <img src="/images/folio/irma.jpg" alt="" class="respimg">
                                                        </div>
                                                        <div class="item">
                                                            <img src="/images/folio/1.jpg" alt="" class="respimg">
                                                        </div>
                                                        <div class="item">
                                                            <img src="/images/folio/1.jpg" alt="" class="respimg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- more photos-->

                                        <div class="row no-align border-row">
                                            <div class="col-lg-4">
                                                <a href="/images/folio/irma/irma2.jpg" class="image-popup"><img src="/images/folio/irma/irma2.jpg" alt="" class="respimg"></a>
                                            </div>
                                            <div class="col-lg-4">
                                                <a href="/images/folio/irma/irma1.jpg" class="image-popup "><img src="/images/folio/irma/irma1.jpg" alt="" class="respimg"></a>
                                            </div>
                                            <div class="col-lg-4">
                                                <a href="/images/folio/irma/irma3.jpg" class="image-popup "><img src="/images/folio/irma/irma3.jpg" alt="" class="respimg"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h3>Details</h3>
                                        <div class="clearfix"></div>
                                        <div class="separator color-separator flt-l"></div>
                                        <div class="clearfix"></div>
                                        <ul class="detailst-list">
                                            <li>
                                                <i class="fa fa-child"></i>
                                                <a href="#" target="_blank">Client : <strong>Themeforest users</strong></a>
                                            </li>
                                            <li>
                                                <i class="fa fa-calendar-o"></i>
                                                <span>Date : <strong>26 may 2014</strong></span>
                                            </li>
                                            <li>
                                                <i class="fa fa-motorcycle"></i>
                                                <a href="#" target="_blank">Category : <strong>Branding</strong></a>
                                            </li>
                                        </ul>
                                        <p>Sed sit amet iaculis lectus. Nulla sed felis nec neque porta tempus quis vitae metus. Cras sem nulla, porta nec quam ac, volutpat venenatis lectus. Curabitur non suscipit mi, viverra malesuada metus. Etiam rutrum ligula nec feugiat mattis. </p>
                                        <div class="clearfix"></div>
                                        <div class="custom-skillbar-holder">
                                            <div class="skillbar-box animaper">
                                                <!-- skill 1-->
                                                <div class="custom-skillbar-title"><span>Objective C</span></div>
                                                <div class="skill-bar-percent">95%</div>
                                                <div class="skillbar-bg" data-percent="95%">
                                                    <div class="custom-skillbar"></div>
                                                </div>
                                                <!-- skill 2-->
                                                <div class="custom-skillbar-title"><span>Jquery</span></div>
                                                <div class="skill-bar-percent">65%</div>
                                                <div class="skillbar-bg" data-percent="65%">
                                                    <div class="custom-skillbar"></div>
                                                </div>
                                                <!-- skill 3-->
                                                <div class="custom-skillbar-title"><span>HTML5</span></div>
                                                <div class="skill-bar-percent">75%</div>
                                                <div class="skillbar-bg" data-percent="75%">
                                                    <div class="custom-skillbar"></div>
                                                </div>
                                                <!-- skill 2-->
                                                <div class="custom-skillbar-title"><span>PHP</span></div>
                                                <div class="skill-bar-percent">35%</div>
                                                <div class="skillbar-bg" data-percent="35%">
                                                    <div class="custom-skillbar"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-text">
                                    <div class="col-lg-4">
                                        <h3>CASE STUDY</h3>
                                        <div class="clearfix"></div>
                                        <div class="separator color-separator flt-l"></div>
                                        <div class="clearfix"></div>
                                        <p>Lorem ipsum dolor sit amet, c-r adipiscing elit. In maximus ligula semper metus pellentesque mattis. Maecenas volutpat, diam enim. </p>
                                    </div>
                                    <div class="col-lg-4">
                                        <h3>RESULT</h3>
                                        <div class="clearfix"></div>
                                        <div class="separator color-separator flt-l"></div>
                                        <div class="clearfix"></div>
                                        <p>Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum orci sit amet, iaculis libero.</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <h3>EXPERIENCE</h3>
                                        <div class="clearfix"></div>
                                        <div class="separator color-separator flt-l"></div>
                                        <div class="clearfix"></div>
                                        <p>Curabitur iaculis accumsan augue, nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique porta. Nulla facilisi. Suspendisse ultricies eros blandit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- section end -->				
	<!--================= Section portfolio navigation  ================-->
    <section class="color-bg">
        <div class="content">
            <div class="container">
                <div class="project-pagination">
                    <ul>
                        <li>
                            <a class="ajax left-nav" href="/portfolio/alianca.html">
                                <i class="fa fa-angle-left"></i>
                                <div class="tooltip">
                                    <img src="/images/folio/alianca.png" class="respimg" alt="" title="">
                                    <h5>Alianca Florestal</h5>
                                </div>
                            </a>
                        </li>
                        <li><a href="/portfolio.html" class="ajax"><i class="fa fa-indent"></i></a></li>
                        <li>
                            <a class="ajax right-nav" href="/portfolio/zeerio.html">
                                <i class="fa fa-angle-right"></i>
                                <div class="tooltip">
                                    <img src="/images/folio/zeerio.jpg" class="respimg" alt="" title="">
                                    <h5>Oy Net Zeerio Solutions</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
	<!--================= Section link  ================-->
	@hireme()
	<!-- section end -->
}