
@()

@tags = {
	<meta name="keywords" content=""/>
	<meta name="description" content="Vasco Mouta - premfire">
}

@main("Vasco Mouta", "portfolio")(tags)() {

	<!--================= Header + Scroll navigation ================-->
	@navigation_header(true)()
	<!-- Header end -->
    <!--================= Section page title ================-->
	<section class="page-title-bg">
	    <div class="bg bg-parallax run-par" style="background-image: url(@routes.Assets.at("images/bg/product.jpg")) "></div>
	    <div class="overlay over-op6"></div>
	    <div class="container">
	        <div class="content">
	            <div class="page-title-bg-holder hero-wrapper">
	                <h2>"Premfire"</h2>
	                <div class="clearfix"></div>
	                <div class="separator color-separator"></div>
	                <h4><a target="_blank" class="  transition" href="//www.criticalsoftware.com">Critical Software, Portugal</a></h4>
	            </div>
	        </div>
	    </div>
	</section>
    <!-- section end -->
    <!--================= Section portfolio single 3  ================-->
    <section>
        <div class="content">
            <div class="container">
                <div class="row align-text">
                    <div class="col-lg-8">
                        <h3>@Messages("portfolio.images")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <div class="row ">
                            <div class="col-lg-12">
                                <!-- slider -->
                                <div class="custom-slider-holder">
                                    <div  class="custom-slider owl-carousel">
                                        <div class="item">
                                            <img src="/images/folio/premfire.jpg" alt="" class="respimg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- more photos-->

                        <div class="row no-align border-row">
                            <div class="col-lg-4">
                                <a href="/images/folio/premfire/premfire2.jpg" class="image-popup"><img src="/images/folio/premfire/premfire2.jpg" alt="" class="respimg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.details")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <ul class="detailst-list">
                            <li>
                                <i class="fa fa-child"></i>
                                <a href="#" target="_blank">@Messages("portfolio.company"): <strong>Critical Sftware</strong></a>
                            </li>
                            <li>
                                <i class="fa fa-calendar-o"></i>
                                <span>@Messages("portfolio.date"): <strong>26 may 2014</strong></span>
                            </li>
                            <li>
                                <i class="fa fa-motorcycle"></i>
                                <a href="#" target="_blank">@Messages("portfolio.category"): <strong>Embedded system</strong></a>
                            </li>
                        </ul>
                        <p>Monitoring and registration of incidents and fire-related data. Production of predictive alerts on the likely occurrence of incidents. Integration with GPS for geolocation. Uses technologies .NET Windows Forms, .NET Compact Framework, OpenNet CF, SQL Server and SQL Server CE. </p>
                        <div class="clearfix"></div>
                        <div class="custom-skillbar-holder">
                            <div class="skillbar-box animaper">
                                <!-- skill 1-->
                                <div class="custom-skillbar-title"><span>C#</span></div>
                                <div class="skill-bar-percent">95%</div>
                                <div class="skillbar-bg" data-percent="95%">
                                    <div class="custom-skillbar"></div>
                                </div>
                                <!-- skill 2-->
                                <div class="custom-skillbar-title"><span>OpenNet CF</span></div>
                                <div class="skill-bar-percent">65%</div>
                                <div class="skillbar-bg" data-percent="65%">
                                    <div class="custom-skillbar"></div>
                                </div>
                                <!-- skill 3-->
                                <div class="custom-skillbar-title"><span>.NET Compact Framework</span></div>
                                <div class="skill-bar-percent">75%</div>
                                <div class="skillbar-bg" data-percent="75%">
                                    <div class="custom-skillbar"></div>
                                </div>
                                <!-- skill 2-->
                                <div class="custom-skillbar-title"><span>VisualStudio 6</span></div>
                                <div class="skill-bar-percent">35%</div>
                                <div class="skillbar-bg" data-percent="35%">
                                    <div class="custom-skillbar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-text">
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.history")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <p>.</p>
                    </div>
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.result")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <p>.</p>
                    </div>
                    <div class="col-lg-4">
                        <h3>@Messages("portfolio.experience")</h3>
                        <div class="clearfix"></div>
                        <div class="separator color-separator flt-l"></div>
                        <div class="clearfix"></div>
                        <p>The reason I am so proud of Critical Software is because initially I had a huge learning curve and I was able to overcome it. I was placed on this project immediately after starting at Critical Software and I had no experience with C#, OpenNet CF, or a pile of documentation. Needless to say, this project has had a large impact on my career and put me on the path of becoming a solid C based languages developer with a focus on Mobile devices. A special thanks to <a href="http://www.linkedin.com/profile/view?id=10852339" target="_blank" class="transition">Ricardo Peres</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->				
	<!--================= Section portfolio navigation  ================-->
    <section class="color-bg">
        <div class="content">
            <div class="container">
                <div class="project-pagination">
                    <ul>
                        <li>
                            <a class="ajax left-nav" href="/@{lang().code()}/portfolio/alianca.html">
                                <i class="fa fa-angle-left"></i>
                                <div class="tooltip">
                                    <img src="/images/folio/alianca.jpg" class="respimg" alt="" title="">
                                    <h5>Alianca Florestal</h5>
                                </div>
                            </a>
                        </li>
                        <li><a href="/@{lang().code()}/portfolio.html" class="ajax"><i class="fa fa-indent"></i></a></li>
                        <li>
                            <a class="ajax right-nav" href="/@{lang().code()}/portfolio/irma.html">
                                <i class="fa fa-angle-right"></i>
                                <div class="tooltip">
                                    <img src="/images/folio/irma.jpg" class="respimg" alt="" title="">
                                    <h5>Irma Device</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
	<!--================= Section link  ================-->
	@hireme()
	<!-- section end -->
}