@()

<!--================= Section parallax facts  ================-->
 <section>
     <div class="bg bg-parallax run-par" style="background-image: url(@routes.Assets.at("images/bg/1.jpg")) "></div>
     <div class="overlay over-op6"></div>
     <div class="content">
         <div class="container par-con">
             <div class="inline-facts-holder row">
                 <!-- 1 -->
                 <div class="inline-facts col-md-3 ">
                     <div class="milestone-counter">
                         <div class="stats animaper">
                             <div class="num" data-content="461" data-num="461">0</div>
                         </div>
                     </div>
                     <h6>Photos Taken</h6>
                 </div>
                 <!-- 3 -->
                 <div class="inline-facts col-md-3 ">
                     <div class="milestone-counter">
                         <div class="stats animaper">
                             <div class="num" data-content="168" data-num="168">0</div>
                         </div>
                     </div>
                     <h6>Projects completed</h6>
                 </div>
                 <!-- 3 -->
                 <div class="inline-facts col-md-3 ">
                     <div class="milestone-counter">
                         <div class="stats animaper">
                             <div class="num" data-content="222" data-num="222">0</div>
                         </div>
                     </div>
                     <h6>Cups of Coffee</h6>
                 </div>
                 <!-- 4 -->
                 <div class="inline-facts col-md-3 ">
                     <div class="milestone-counter">
                         <div class="stats animaper">
                             <div class="num" data-content="435" data-num="435">0</div>
                         </div>
                     </div>
                     <h6>Clients Working</h6>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- section end -->