@()

<!--================= Section parallax facts  ================-->
 <section>
     <div class="bg bg-parallax run-par" style="background-image: url(@routes.Assets.at("images/bg/1.jpg")) "></div>
     <div class="overlay over-op6"></div>
     <div class="content">
         <div class="container par-con">
             <div class="inline-facts-holder row">
                 <!-- 1 -->
                 <div class="inline-facts col-md-3 ">
                     <div class="milestone-counter">
                         <div class="stats animaper">
                             <div class="num" data-content="0" data-num="0">0</div>
                         </div>
                     </div>
                     <h6>Km's run</h6>
                 </div>
                 <!-- 4 -->
                 <div class="inline-facts col-md-3 ">
                     <div class="milestone-counter">
                         <div class="stats animaper">
                             <div class="num" data-content="1091" data-num="1091">0</div>
                         </div>
                     </div>
                     <h6>Km's ride</h6>
                 </div>
                  <!-- 3 -->
                 <div class="inline-facts col-md-3 ">
                     <div class="milestone-counter">
                         <div class="stats animaper">
                             <div class="num" data-content="22" data-num="22">0</div>
                         </div>
                     </div>
                     <h6>Projects completed</h6>
                 </div>
                 <!-- 3 -->
                 <div class="inline-facts col-md-3 ">
                     <div class="milestone-counter">
                         <div class="stats animaper">
                             <div class="num" data-content="147" data-num="147">0</div>
                         </div>c
                     </div>
                     <h6>Cups of Coffee</h6>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- section end -->