@()

<!--================= Section with link  ================-->
 <section id="sec10" class="link-section gray-section">
     <div class="content">
         <div class="container">
             <h2>@Messages("hireme.title")</h2>
             <span class="separator"></span>
             <p>@Messages("hireme.subtitle")</p>
             <a href="@routes.Application.contact(lang().code())" class="btn clr-btn anim-button transition"><span>@Messages("contact.toutch")</span><i class="fa fa-envelope-o"></i></a>
         </div>
     </div>
 </section>
 <!-- section end -->
