@()

<!--================= Section with link  ================-->
 <section id="sec10" class="link-section gray-section">
     <div class="content">
         <div class="container">
             <h2>Ready to order your project ?</h2>
             <span class="separator"></span>
             <p>Do you have an idea? A boring product? Need help?.</p>
             <a href="@routes.Application.contact()" class="btn clr-btn anim-button transition"><span>Get in Touch</span><i class="fa fa-envelope-o"></i></a>
         </div>
     </div>
 </section>
 <!-- section end -->
