@(title: String, posts: List[models.Post], currentPage: Integer, pages: Integer)

@tags = {
	<meta name="keywords" content=""/>
   	<meta name="description" content="Vasco Mouta home page">
   	
   	<!--  The Open Graph protocol -->
	<meta property="og:title" content="@Messages("blog.title")"/>	
	<meta property="og:type" content="blog"/>
	<meta property="og:site_name" content="Vasco Mouta Blog"/>
	<meta property="og:url" content="http://@{request().host()+request.path()}"/>
	<meta property="fb:admins" content="vasco.mouta"/>
	<meta property="og:image" content="(@routes.Assets.at("images/bg/blog.jpg").absoluteURL()"/>
	   
    <!--  The twitter card -->
    <meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@@vmouta" />
	<meta name="twitter:title" content="@Messages("blog.title")" />
	<meta name="twitter:description" content="Vasco Mouta Blog" />
	<meta name="twitter:url" content="http://@{request().host()+request.path()}" />
   	<meta property="twitter:image" content="(@routes.Assets.at("images/bg/blog.jpg").absoluteURL()"/>
}

@main(title, "blog")(tags) {

	<!--================= Header + Scroll navigation ================-->
	@navigation_header(true){
	   
	}
	<!--================= Section page title ================-->					
     <section id="sec1" class="page-title-bg">
         <div class="bg bg-parallax run-par" style="background-image: url(@routes.Assets.at("images/bg/blog.jpg")) "></div>
         <div class="overlay over-op6"></div>
         <div class="container">
             <div class="content">
                 <div class="page-title-bg-holder">
                     <h2>@Messages("blog.title")</h2>
                     <div class="clearfix"></div>
                     <div class="separator flt-l color-separator"></div>
                     <div class="clearfix"></div>
                     <h4>@Messages("blog.subtitle")</h4>
                 </div>
             </div>
         </div>
     </section>
	<!-- section end -->
	<!--================= Section post's ================-->
    <section class="align-text contact-container"  id="sec2">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 display-posts">
                    <!-- post-->
                    @for(currentPost <- posts) {
                    
                    	<article class="post">
                            <h4><a href="/@{lang().code()}/post@{currentPost.getRelativeUrl()}" class="ajax transition2">@currentPost.getTitle()</a></h4>
                            <ul class="post-meta">
                                <li>@currentPost.getDateString()</li>
                                <li>@currentPost.getNumComments() com</li>
                                <li><i class="fa fa-heart-o"></i> 151</li>
                                <li>
                                    <h5>Posted by @currentPost.getAuthor()</h5>
                                </li>
                            </ul>
                            @if(currentPost.getImagesCount() > 1){
                            	<div class="post-media">
                                    <div class="custom-slider-holder">
                                        <div class="customNavigation">
                                            <a class="prev-slide transition"><i class="fa fa-chevron-left"></i></a>
                                            <a class="next-slide transition"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                        <div  class="custom-slider owl-carousel   popup-gallery">
                                        
 	                                       @for(i <- 0 to currentPost.getImagesCount()-1) {
	                                            <!--  Black Overlay -->
	                                            <div class="item">
	                                                <div class="box-item-holder">
	                                                    <div class="box-item bl-over">
	                                                        <div class="box-item-med">
	                                                            <img src="@currentPost.imageUrl(i,"600", "400")" alt="" class="respimg">
	                                                            <div class="overlay"></div>
	                                                        </div>
	                                                        <div class="box-links">
	                                                            <a href="@currentPost.imageUrl(i,"600", "400")" class="lin-h"><i class="fa fa-plus"></i></a>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                       }
                                        </div>
                                    </div>
                                </div>
	                        }
	                        
	                        @if(currentPost.getImagesCount() == 1){
	                            <div class="post-media">
                                   <a href="@currentPost.imageUrl(0,"600", "400")" class="ajax"><img src="@currentPost.imageUrl(0,"600", "400")" alt="" class="respimg"></a>											
                                </div>

	                        }
	                        
                            <p>@Html(currentPost.getTextShort())</p>
                            <a href="/@{lang().code()}/post@{currentPost.getRelativeUrl()}" class="ajax post-link">@Messages("blog.continue")</a>
                            <ul class="post-tags">
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Video</a></li>
                                <li><a href="#">Photo</a></li>
                            </ul>
                        </article>
					}
					<!-- pagination-->
					@if(pages>1) {
						<div class="pagination">
							@if(currentPage==1) {
								<a href="#sec2" class="prevposts-link btn-disabled transition"><i class="fa fa-chevron-left"></i></a>
							} else {
								<a href="@routes.Blog.blog(lang().code(),currentPage-1)" class="prevposts-link transition"><i class="fa fa-chevron-left"></i></a>
							}
		                    @for(index <- 1 to pages) {
		    	                @if(index==currentPage) {
								  <a href="@routes.Blog.blog(lang().code(),index)" class="blog-page current-page transition">@index</a>
								} else {
								  <a href="@routes.Blog.blog(lang().code(),index)" class="blog-page transition">@index</a>
								}
							}
							
							@if(currentPage == pages) {
								<a href="#sec2" class="nextposts-link btn-disabled transition"><i class="fa fa-chevron-right"></i></a>

							} else {
								<a href="@routes.Blog.blog(lang().code(),currentPage+1)" class="nextposts-link transition"><i class="fa fa-chevron-right"></i></a>
							}
	                        
	                     </div>
					}
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- section end -->
	<!--================= Section hireme  ================-->
	@share()
	<!-- section end -->
	<!--================= Section hireme  ================-->
	@hireme()
	<!-- section end -->
	<!--================= Section widgets  ================-->
    @widgets()
    <!-- section end -->
}