@()


@main("", "portfolio") {

	<!--================= Header + Scroll navigation ================-->
	@navigation_header(true) {
		<li class="actscroll"><a class="scroll-link" href="#sec1">Works </a></li>
		<li><a class="scroll-link" href="#sec2">Services</a></li>
	}
	<!-- End header -->
	<!--================= Section page title ================-->	
	<section  class="page-title-bg">
	    <div class="bg bg-parallax run-par" style="background-image: url(@routes.Assets.at("images/bg/portfolio.jpg")) "></div>
	    <div class="overlay over-op6"></div>
	    <div class="container">
	        <div class="content">
	            <div class="page-title-bg-holder">
	                <h2>My Portfolio</h2>
	                <div class="clearfix"></div>
	                <h4>Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed</h4>
	                <div class="clearfix"></div>
	                <a href="#sec1" class="btn flt-l   trans-btn custom-scroll-link  transition">Let's View</a>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- section end -->	
	<!--================= Section portfolio boxed 4 columnn  ================-->
	     <section class="no-padding" id="sec1">
	         <div class="content">
	             <div class="container">
	                 <div class="row">
	                     <div class="col-lg-10">
							 <div class="filter-button">Filters <i class="fa fa-angle-double-down"></i></div>
	                         <div class="masonry-filters">
	                             <a href="#" class="masonry-filter masonry-filter_active  transition allval"  data-filter="*">View All <span class="num-pr numpr-all"></span></a>		
	                             <a href="#" class="masonry-filter transition" data-filter=".webui">Web ui <span class="num-pr num-cat"></span></a>
	                             <a href="#" class="masonry-filter transition" data-filter=".design">Design <span class="num-pr num-cat"></span></a>
	                             <a href="#" class="masonry-filter transition" data-filter=".illustrations">Illustrations <span class="num-pr num-cat"></span></a>
	                             <a href="#" class="masonry-filter transition" data-filter=".photography">Photography <span class="num-pr num-cat"></span></a>
	                         </div>
	                     </div>
	                     <div class="col-lg-2">
	                         <i class="fa fa-random shuffle-button"></i>  
	                     </div>
	                 </div>
	             </div>
	         </div>
	         <div class="content">
	             <div class="container">
	                 <div class="ms-grid-items  margin-grid">
	                     <div class="grid-sizer-three"></div>
	                     <!-- folio item -->
	                <div class="box ms-grid-item   webui design photography">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="images/folio/1.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="portfolio-single.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="images/folio/1.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="portfolio-single.html" class="ajax">Black Overlay </a></h3>
	                            <h4>Design</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item   design photography">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="images/folio/1.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="portfolio-single.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="images/folio/1.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="portfolio-single.html" class="ajax">Black Overlay </a></h3>
	                            <h4>Design</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item   webui photography">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="images/folio/1.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="portfolio-single.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="images/folio/1.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="portfolio-single.html" class="ajax">Black Overlay </a></h3>
	                            <h4>Design</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item     illustrations photography">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="images/folio/1.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="portfolio-single.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="images/folio/1.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="portfolio-single.html" class="ajax">Black Overlay </a></h3>
	                            <h4>Design</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item   design  photography">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="images/folio/1.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="portfolio-single.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="images/folio/1.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="portfolio-single.html" class="ajax">Black Overlay </a></h3>
	                            <h4>Design</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item   photography design">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="images/folio/1.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="portfolio-single.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="images/folio/1.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="portfolio-single.html" class="ajax">Black Overlay </a></h3>
	                            <h4>Design</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item    design">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="images/folio/1.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="portfolio-single.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="images/folio/1.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="portfolio-single.html" class="ajax">Black Overlay </a></h3>
	                            <h4>Design</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item   design  webui">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="images/folio/1.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="portfolio-single.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="images/folio/1.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="portfolio-single.html" class="ajax">Black Overlay </a></h3>
	                            <h4>Design</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item   webui photography">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="images/folio/1.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="portfolio-single.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="images/folio/1.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="portfolio-single.html" class="ajax">Black Overlay </a></h3>
	                            <h4>Design</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->			
	                <div class="box ms-grid-item  photography  webui">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="images/folio/1.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="portfolio-single.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="images/folio/1.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="portfolio-single.html" class="ajax">Black Overlay </a></h3>
	                            <h4>Design</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item   design">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="images/folio/1.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="portfolio-single.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="images/folio/1.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="portfolio-single.html" class="ajax">Black Overlay </a></h3>
	                            <h4>Design</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item   design">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="images/folio/1.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="portfolio-single.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="images/folio/1.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="portfolio-single.html" class="ajax">Black Overlay </a></h3>
	                            <h4>Design</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- load more nav -->  
	                <nav id="infiniti_nav">
	                    <a href="2.html"></a>
	                </nav>
	            </div>
	        </div>
	    </div>
	    <!-- load more button -->
	    <div class="load-more-holder gray-section" id="infiniti">
	        <div class="container">
	            <a class="load-more custom-scroll-link btn clr-btn  flt-l    transition" data-ltext="Complete" href="#infiniti"><span>Load more</span><i class="fa fa-refresh fa-spin"></i></a>
	        </div>
	    </div>
	</section>
	<!-- section end -->
	<!--================= Section services style 2  ================-->
	<section id="sec2">
	    <div class="content">
	        <div class="container">
	            <div class="section-title">
	                <h2>Services</h2>
	                <div class="separator"></div>
	                <div class="clearfix"></div>
	                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	            </div>
	        </div>
	        <div class="container">
	            <div class="services-holder">
	                <ul class="services-item-holder">
	                    <!-- services-item -->
	                    <li class="transition2 services-item">
	                        <div class="ser-tooltip">
	                            <ul>
	                                <li>Concept</li>
	                                <li>Design</li>
	                                <li>3D Modeling</li>
	                                <li>Research</li>
	                            </ul>
	                        </div>
	                        <i class="fa fa-cloud transition"></i>
	                        <h5><span>Design</span></h5>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	                    </li>
	                    <!-- services-item -->
	                    <li class="transition2 services-item">
	                        <div class="ser-tooltip">
	                            <ul>
	                                <li>Concept</li>
	                                <li>Design</li>
	                                <li>3D Modeling</li>
	                                <li>Research</li>
	                            </ul>
	                        </div>
	                        <i class="fa fa-hdd-o transition"></i>
	                        <h5><span>Coding</span></h5>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	                    </li>
	                    <!-- services-item -->
	                    <li class="transition2 services-item">
	                        <div class="ser-tooltip">
	                            <ul>
	                                <li>Concept</li>
	                                <li>Design</li>
	                                <li>3D Modeling</li>
	                                <li>Research</li>
	                            </ul>
	                        </div>
	                        <i class="fa fa-trophy transition"></i>
	                        <h5><span>Responsive</span></h5>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	                    </li>
	                    <!-- services-item -->
	                    <li class="transition2 services-item">
	                        <div class="ser-tooltip">
	                            <ul>
	                                <li>Concept</li>
	                                <li>Design</li>
	                                <li>3D Modeling</li>
	                                <li>Research</li>
	                            </ul>
	                        </div>
	                        <i class="fa fa-bicycle transition"></i>
	                        <h5><span>Planing</span></h5>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	                    </li>
	                    <!-- services-item -->
	                    <li class="transition2 services-item">
	                        <div class="ser-tooltip">
	                            <ul>
	                                <li>Concept</li>
	                                <li>Design</li>
	                                <li>3D Modeling</li>
	                                <li>Research</li>
	                            </ul>
	                        </div>
	                        <i class="fa fa-gamepad transition"></i>
	                        <h5><span>Game Design</span></h5>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	                    </li>
	                    <!-- services-item -->
	                    <li class="transition2 services-item">
	                        <div class="ser-tooltip">
	                            <ul>
	                                <li>Concept</li>
	                                <li>Design</li>
	                                <li>3D Modeling</li>
	                                <li>Research</li>
	                            </ul>
	                        </div>
	                        <i class="fa fa-picture-o transition"></i>
	                        <h5><span>Photo</span></h5>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- section end -->
	<!--================= Section Subscribe ================-->
	@subscribe()
	<!-- section end -->
	<!--================= Section link  ================-->
	@hireme()
	<!-- section end -->
}
