@()

@tags = {
	<meta name="keywords" content="Portfolio"/>
    <meta name="description" content="Vasco Mouta - Portfolio">
}

@main("Vasco Mouta - Portfolio", "portfolio")(tags)() {

	<!--================= Header + Scroll navigation ================-->
	@navigation_header(true) {
		<li class="actscroll"><a class="scroll-link" href="#sec1">@Messages("portfolio.works")</a></li>
		<li><a class="scroll-link" href="#sec2">Services</a></li>
	}
	<!-- End header -->
	<!--================= Section page title ================-->	
	<section  class="page-title-bg">
	    <div class="bg bg-parallax run-par" style="background-image: url(@routes.Assets.at("images/bg/portfolio.jpg")) "></div>
	    <div class="overlay over-op6"></div>
	    <div class="container">
	        <div class="content">
	            <div class="page-title-bg-holder">
	                <h2>@Messages("portfolio.title")</h2>
	                <div class="clearfix"></div>
	                <h4>@Messages("portfolio.subtitle")</h4>
	                <div class="clearfix"></div>
	                <a href="#sec1" class="btn flt-l   trans-btn custom-scroll-link  transition">@Messages("portfolio.view")</a>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- section end -->	
	<!--================= Section portfolio boxed 4 columnn  ================-->
	     <section class="no-padding" id="sec1">
	         <div class="content">
	             <div class="container">
	                 <div class="row">
	                     <div class="col-lg-10">
							 <div class="filter-button">@Messages("portfolio.filters")<i class="fa fa-angle-double-down"></i></div>
	                         <div class="masonry-filters">
	                             <a href="#" class="masonry-filter masonry-filter_active  transition allval"  data-filter="*">@Messages("portfolio.viewall")<span class="num-pr numpr-all"></span></a>		
	                             <a href="#" class="masonry-filter transition" data-filter=".ios">iOS <span class="num-pr num-cat"></span></a>
	                             <a href="#" class="masonry-filter transition" data-filter=".android">Android <span class="num-pr num-cat"></span></a>
	                             <a href="#" class="masonry-filter transition" data-filter=".symbian">Symbian <span class="num-pr num-cat"></span></a>
	                             <a href="#" class="masonry-filter transition" data-filter=".java">JavaSE <span class="num-pr num-cat"></span></a>
	                             <a href="#" class="masonry-filter transition" data-filter=".clanguages">C, C++, C# <span class="num-pr num-cat"></span></a>
	                         </div>
	                     </div>
	                     <div class="col-lg-2">
	                         <i class="fa fa-random shuffle-button"></i>  
	                     </div>
	                 </div>
	             </div>
	         </div>
	         <div class="content">
	             <div class="container">
	                 <div class="ms-grid-items  margin-grid">
	                     <div class="grid-sizer-three"></div>
	                     <!-- folio item -->
	                <div class="box ms-grid-item ios android">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="/images/folio/boat24.png" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="/@{lang().code()}/portfolio/boat24.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="/images/folio/boat24.png" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="@routes.Application.resume(lang().code(), 2)" class="ajax">Mobile Developer </a></h3>
	                            <h4>iOS, Android</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item ios android">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="/images/folio/caravan24.png" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="/@{lang().code()}/portfolio/caravan24.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="/images/folio/caravan24.png" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="@routes.Application.resume(lang().code(), 2)" class="ajax">Mobile Developer</a></h3>
	                            <h4>iOS, Android</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item ios java">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="/images/folio/localina.png" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="/@{lang().code()}/portfolio/localina.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="images/folio/localina.png" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="@routes.Application.resume(lang().code(), 3)" class="ajax">CTO, Co-Founder </a></h3>
	                            <h4>iOS, JavaSE</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item ios android symbian java clanguages">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="/images/folio/beetagg.png" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="/@{lang().code()}/portfolio/beetagg.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="/images/folio/beetagg.png" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="@routes.Application.resume(lang().code(), 4)" class="ajax">Mobile Developer </a></h3>
	                            <h4>iOS, Android, JavaSE, AnsiC, Others</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item symbian clanguages">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="/images/folio/skimondo.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="/@{lang().code()}/portfolio/skimondo.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="/images/folio/skimondo.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="@routes.Application.resume(lang().code(), 4)" class="ajax">Mobile Developer </a></h3>
	                            <h4>Symbain, AnsiC</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item symbian clanguages">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="/images/folio/kilimosalama.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="/@{lang().code()}/portfolio/kilimosalama.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="/images/folio/kilimosalama.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="@routes.Application.resume(lang().code(), 4)" class="ajax">Mobile Developer </a></h3>
	                            <h4>Symbian</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item symbian clanguages java">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="/images/folio/surfkitchen.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="/@{lang().code()}/portfolio/surfkitchen.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="/images/folio/surfkitchen.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="@routes.Application.resume(lang().code(), 5)" class="ajax">Mobile Developer </a></h3>
	                            <h4>Symbian, JavaSE</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item clanguages">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="/images/folio/premfire.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="/@{lang().code()}/portfolio-premfire.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="/images/folio/primfire.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="@routes.Application.resume(lang().code(), 6)" class="ajax">Software Developer </a></h3>
	                            <h4>C#</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item   webui photography">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="/images/folio/alianca.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="/@{lang().code()}/portfolio/alianca.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="/images/folio/alianca.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="@routes.Application.resume(lang().code(), 6)" class="ajax">Software Developer </a></h3>
	                            <h4>JavaSE</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->			
	                <div class="box ms-grid-item symbian clanguages">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="/images/folio/irma.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="/@{lang().code()}/portfolio/irma.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="/images/folio/irma.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="@routes.Application.resume(lang().code(), 7)" class="ajax">Mobile Developer </a></h3>
	                            <h4>Symbian, C++</h4>
	                        </div>
	                    </div>
	                </div>
	                <!-- folio item -->
	                <div class="box ms-grid-item java">
	                    <div class="box-item-holder">
	                        <div class="box-item bl-over">
	                            <div class="box-item-med">
	                                <img src="/images/folio/zeerio.jpg" alt="" class="respimg">
	                                <div class="overlay"></div>
	                            </div>
	                            <div class="box-links">
	                                <a href="/@{lang().code()}/portfolio/zeerio.html" class="lin-h ajax"><i class="fa fa-link"></i></a>
	                                <a href="/images/folio/zeerio.jpg" class="image-popup lin-h"><i class="fa fa-plus"></i></a>
	                            </div>
	                        </div>
	                        <div class="box-details">
	                            <h3><a href="@routes.Application.resume(lang().code(), 7)" class="ajax">Mobile Developer </a></h3>
	                            <h4>J2ME</h4>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- section end -->
	<!--================= Section services style 2  ================-->
	<section id="sec2">
	    <div class="content">
	        <div class="container">
	            <div class="section-title">
	                <h2>Services</h2>
	                <div class="separator"></div>
	                <div class="clearfix"></div>
	                <p>What I can help you with.</p>
	            </div>
	        </div>
	        <div class="container">
	            <div class="services-holder">
	                <ul class="services-item-holder">
	                    <!-- services-item -->
	                    <li class="transition2 services-item">
	                        <div class="ser-tooltip">
	                            <ul>
	                                <li>Concept</li>
	                                <li>Design</li>
	                                <li>3D Modeling</li>
	                                <li>Research</li>
	                            </ul>
	                        </div>
	                        <i class="fa fa-cloud transition"></i>
	                        <h5><span>Design</span></h5>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	                    </li>
	                    <!-- services-item -->
	                    <li class="transition2 services-item">
	                        <div class="ser-tooltip">
	                            <ul>
	                                <li>Embeded Software</li>
	                                <li>Mobile Development</li>
	                                <li>Libraries</li>
	                                <li>Integration</li>
	                            </ul>
	                        </div>
	                        <i class="fa fa-hdd-o transition"></i>
	                        <h5><span>Coding</span></h5>
	                        <p>Coding sparks creativity, inspiration and innovation. Enjoy the challenge of solving problems of all kinds, that's a great sign that you could be suited to software development.</p>
	                    </li>
	                    <!-- services-item -->
	                    <li class="transition2 services-item">
	                        <div class="ser-tooltip">
	                            <ul>
	                                <li>Goals</li>
	                                <li>Strategy </li>
	                                <li>Code</li>
	                                <li>Success</li>
	                            </ul>
	                        </div>
	                        <i class="fa fa-trophy transition"></i>
	                        <h5><span>Reviewing</span></h5>
	                        <p>If you don’t review, how will you know how you are reaching your goal? You can always operate under the assumption that you are at your goal, but you will never know until you review.</p>
	                    </li>
	                    <!-- services-item -->
	                    <li class="transition2 services-item">
	                        <div class="ser-tooltip">
	                            <ul>
	                                <li>Risks</li>
	                                <li>Team Skills</li>
	                                <li>Processes</li>
	                                <li>Technology</li>
	                            </ul>
	                        </div>
	                        <i class="fa fa-bicycle transition"></i>
	                        <h5><span>Planing</span></h5>
	                        <p>Projects are unique, and are never repeated under the same set of circumstances. So why isn't our approach to managing them unique as well? Balance among staff, process, and technology.</p>
	                    </li>
	                    <!-- services-item -->
	                    <li class="transition2 services-item">
	                        <div class="ser-tooltip">
	                            <ul>
	                                <li>Concept</li>
	                                <li>Design</li>
	                                <li>3D Modeling</li>
	                                <li>Research</li>
	                            </ul>
	                        </div>
	                        <i class="fa fa-gamepad transition"></i>
	                        <h5><span>Game Design</span></h5>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	                    </li>
	                    <!-- services-item -->
	                    <li class="transition2 services-item">
	                        <div class="ser-tooltip">
	                            <ul>
	                                <li>Concept</li>
	                                <li>Design</li>
	                                <li>3D Modeling</li>
	                                <li>Research</li>
	                            </ul>
	                        </div>
	                        <i class="fa fa-picture-o transition"></i>
	                        <h5><span>Photo</span></h5>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- section end -->
	<!--================= Section Subscribe ================-->
	@subscribe()
	<!-- section end -->
	<!--================= Section link  ================-->
	@hireme()
	<!-- section end -->
}
