@()

<!--================= Section quotes  ================-->
 <section>
     <div class="bg bg-parallax run-par" style="background-image: url(@routes.Assets.at("images/bg/1.jpg")) "></div>
     <div class="overlay over-op6"></div>
     <div class="content">
         <div class="container par-con">
             <div class="section-title">
                 <h2>Favorite Quotes</h2>
                 <div class="separator"></div>
                 <div class="clearfix"></div>
             </div>
             <div class="testimonilas-holder">
                 <div class="customNavigation">
                     <a class="prev-slide transition"><i class="fa fa-chevron-left"></i></a>
                     <a class="next-slide transition"><i class="fa fa-chevron-right"></i></a>
                 </div>
                 <div id="testimonials-slider" class="owl-carousel test-carousel">
                     <!-- Quote item -->
                     <div class="item">
                         <p>“It’s not about ideas. It’s about making ideas happen.”</p>
	                     <h4><a href="#" target="_blank">Scott Belsky </a></h4>
                     </div>
                     <!-- Quote item -->
                     <div class="item">
                         <p>“Progress is not about were you are, but about where you come from.”</p>
                         <h4><a href="#" target="_blank">Vasco Mouta </a></h4>
                     </div>
                     <!-- Quote item -->
                     <div class="item">
                         <p>“Dream big. Start small. But most of all, start.”</p>
                         <h4><a href="#" target="_blank">Simon Sinek </a></h4>
                     </div>
                     <!-- Quote item -->
                     <div class="item">
                         <p>“Some people want it to happen, some wish it would happen, others make it happen.“</p>
                         <h4><a href="#" target="_blank">Michael Jordan </a></h4>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- section end -->