@()

<!--================= Section quotes  ================-->
 <section>
     <div class="bg bg-parallax run-par" style="background-image: url(@routes.Assets.at("images/bg/1.jpg")) "></div>
     <div class="overlay over-op6"></div>
     <div class="content">
         <div class="container par-con">
             <div class="section-title">
                 <h2>@Messages("quotes.title")</h2>
                 <div class="separator"></div>
                 <div class="clearfix"></div>
             </div>
             <div class="testimonilas-holder">
                 <div class="customNavigation">
                     <a class="prev-slide transition"><i class="fa fa-chevron-left"></i></a>
                     <a class="next-slide transition"><i class="fa fa-chevron-right"></i></a>
                 </div>
                 <div id="testimonials-slider" class="owl-carousel test-carousel">
                     <!-- Quote item -->
                     <div class="item">
                         <p>@Messages("quotes.message1")</p>
	                     <h4><a href="#" target="_blank">@Messages("quotes.author1")</a></h4>
                     </div>
                     <!-- Quote item -->
                     <div class="item">
                         <p>@Messages("quotes.message2")</p>
	                     <h4><a href="#" target="_blank">@Messages("quotes.author2")</a></h4>
                     </div>
                     <!-- Quote item -->
                     <div class="item">
                         <p>@Messages("quotes.message3")</p>
                         <h4><a href="#" target="_blank">@Messages("quotes.author3")</a></h4>
                     </div>
                     <!-- Quote item -->
                     <div class="item">
                         <p>@Messages("quotes.message4")</p>
                         <h4><a href="#" target="_blank">@Messages("quotes.author4")</a></h4>
                     </div>
                     <!-- Quote item -->
                     <div class="item">
                         <p>@Messages("quotes.message5")</p>
                         <h4><a href="#" target="_blank">@Messages("quotes.author5")</a></h4>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- section end -->