@()

<!--================= Section Share  ================-->
<section>
    <div class="bg bg-parallax run-par2" style="background-image: url(@routes.Assets.at("images/bg/1.jpg")) "></div>
    <div class="overlay over-op6"></div>
    <div class="content">
        <div class="container par-con">
            <div class="section-title">
                <h2>@Messages("share.page")</h2>
                <span class="separator"></span>
                <div class="clearfix"></div>
            </div>
            <div class="share-container"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
        </div>
    </div>
</section>
<!-- section end -->