@()

<!--================= Section widgets  ================-->
<section class="page-widgets-holder">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <h3>Get in Touch</h3>
                    <div class="contact-info">
                        <ul>
                            <li><a href="#" target="_blank" class="ci-adress">Swiss Post Box: 104933, Zürcherstrasse 161<br>8010 Zürich, Switzerland</a></li>
                            <li><a href="mailto:vasco.mouta@@gmail.com" target="_blank" class="ci-mail"> vasco.mouta@@gmail.com</a></li>
                            <li> <a href="tel:0041762047559" target="_blank" class="ci-phone">  +41 (76) 204 7559 </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <h3>Strava</h3>
                    <div class="twitter-holder">
                        <div class="twitts">
                            <div class="twitter-feed">
                                <!-- Twitter Slider -->                
                                <div id="twitter-feed"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="customNavigation">
                            <a class="prev-slide transition"><i class="fa fa-chevron-left"></i></a>
                            <a class="next-slide transition"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <h3>Twitts</h3>
                    <div class="twitter-holder">
                        <div class="twitts">
                            <div class="twitter-feed">
                                <!-- Twitter Slider -->                
                                <div id="twitter-feed"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="customNavigation">
                            <a class="prev-slide transition"><i class="fa fa-chevron-left"></i></a>
                            <a class="next-slide transition"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <h3>Find Me</h3>
                    <div class="social-links">
                        <ul>
                        	<li><a href="http://www.facebook.com/vasco.mouta"  target="_blank" class="transition"><i class="fa fa-facebook"></i></a></li>
               				<li><a href="http://twitter.com/vmouta"  target="_blank" class="transition"><i class="fa fa-twitter"></i></a></li>
		               		<li><a href="http://www.linkedin.com/pub/vasco-mouta/4/409/640"  target="_blank" class="transition"><i class="fa fa-linkedin"></i></a></li>
		            		<li><a href="http://google.com/+VascoMouta"  target="_blank" class="transition"><i class="fa fa-google"></i></a></li>
		                  	<li><a href="http://www.pinterest.com/vascomouta/"  target="_blank" class="transition"><i class="fa fa-pinterest"></i></a></li>
		                  	<li><a href="http://instagram.com/vascomouta/"  target="_blank" class="transition"><i class="fa fa-instagram"></i></a></li>
		                   	<li><a href="http://github.com/vmouta"  target="_blank" class="transition"><i class="fa fa-github"></i></a></li>
		            	</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->